button{ 
    background-color: red;
    color:white;
    text-align: center;
    
}
/* Genel Stil */
body {
    font-family: 'Barlow', sans-serif;
    background-color: #FAF7F2; /* Bej */
    color: #5F5F5F; /* Açık Gri */
    margin: 0;
    padding: 0;
  }
  
  
  
  /* Başlık Stili */
  h1, h2, h3 {
    font-family: 'Satisfy', cursive;
    color: #CE2829; /* Kırmızı */
    text-align: center;
  }
  
  /* Buton Stili */
  button {
    text-align: center;
    background-color: #FDC913; /* Sarı */
    color: #292929; /* Koyu Gri */
    border: none;
    padding: 20px 40px;
    font-weight: bold;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #CE2829; /* Kırmızı */
    color: white;
  }
  
  /* Form Stili */
  form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  
  select,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #5F5F5F; /* Açık Gri */
    border-radius: 5px;
  }
  
  /* Checkbox Stili */
  input[type="checkbox"] {
    margin-right: 10px;
  }
  
  /* Sipariş Özeti Stili */
  #order-summary {
    background-color: #FDC913; /* Sarı */
    color: #292929; /* Koyu Gri */
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
  }
  .banner{
height: 550px;
width: 1500px;
  }
  

  p{
    background-color: #CE2829;
    color: #FAF7F2;
    text-align: center;
    font-size: x-large;
  }